body#layout .hidden,
body#layout .invisible {
display: inherit;
}
body#layout .navigation {
display: none;
}
body#layout .page,
body#layout .sidebar_top,
body#layout .sidebar_bottom {
display: inline-block;
left: inherit;
position: relative;
vertical-align: top;
}
body#layout .page {
float: right;
margin-left: 20px;
width: 55%;
}
body#layout .sidebar-container {
float: right;
width: 40%;
}
body#layout .hamburger-menu {
display: none;
}
.page .a{
    background-color: skyblue;
}
#output-wrapper{
    background-color: skyblue;
    color: black;
}
#output{
    text-align: center;
}
#homeArticle p{
    color: #08DBCE;
    display: inline;
}
#homeArticle{
  display: none;
  position: relative;
}
.title-header{
  color: #000;
  text-shadow: 1px 1px #B5BBC3;
}
.snippet-item{
  float: right;
  display: inline-block;
}
.rapple{
  float: left;
  display: inline-block;
}
#hide{
  
}
#hide:hover{
  color: skyblue;
  text-decoration: underline;
}
#menu{
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  position: absolute;
}
#menu img{
  width: 100%;
  height: 100%;
}